<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/temp_styles.css') }}">
</head>
<body>
    <h1>Информация обо мне</h1>
    <video autoplay muted loop class="video">
        <source src="static/audio/river.mp4" type="video/mp4">
    </video>
    <div class="main">
        Имя: <p>Максим</p>
        Фамилия: <p>[удалено]</p>
        Отчество: <p>[удалено]ич</p>
        Место жительства: <p>Москва, ул.[удалено], кв.135</p>
        [удалено]: <p>20 лет</p>
        <p></p>
    </div>
    <div class="main">
        <div class="temp">Фото:</div> <img src="static/audio/me.jpg" class="img">
        <br>
        Навыки: <p>Python (1 год), Django, Flask, Git (1.5 года), SQL (полгода), docker (1 контейнер :)),
        [удалено], Blueprints (движок Unreal Engine) (1.5 года), Английский (B2).</p>
        Образование: <p>Неоконченное высшее техническое</p>
        Увлечения: <p>[удалено], исследовать Подмосковье, [удалено]</p>
    </div>
    <br>
    <a class="btn" href="/">На главную</a>
</body>
</html>